#catapult-cookie-bar .ctcc-left-side {
    font-size: medium !important;
}

#catapult-cookie-bar a {
    color: #ffffff;
    font-size: medium !important;
    text-decoration: underline !important;
}
footer #f_legal_wrapper .logo_wrapper,
footer #f_legal_wrapper .f_legal_copyright,
footer #f_sitemap .f_sitemap_quicklinks {
    visibility: hidden;
}
footer #f_legal_wrapper .f_legal_links,
footer #f_sitemap .f_sitemap_full {
    background:#5b5a68;
}
footer #f_legal_wrapper,
footer #f_sitemap {
    background:#f2f2f2;
}
footer.mk_footer #f_contact {
    display: none;
}
/*#main_img {*/
/*    display: none;*/
/*}*/
@media all and (min-width: 801px){
    .top-image-header {
        width: 70%;
    }
}
@media all and (max-width: 800px){
    .top-image-header {
        padding-top: 90px;
    }
}
.top-image-header {
    float: left;
}

.top-image-header img {
    max-width: 100%;
}
.box_inside h4 {
    font-weight: bold;
    line-height: 1.14;
}
.box_inside h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.09;
}
#content_wrapper .btn_action_go {
    border-radius: 3px;
    border-color: #e1e1e1;
}