#catapult-cookie-bar .ctcc-left-side {
    font-size: medium !important;
}

#catapult-cookie-bar a {
    color: #ffffff;
    font-size: medium !important;
    text-decoration: underline !important;
}
footer #f_legal_wrapper .logo_wrapper,
footer #f_legal_wrapper .f_legal_copyright,
footer #f_sitemap .f_sitemap_quicklinks {
    visibility: hidden;
}
footer #f_legal_wrapper .f_legal_links,
footer #f_sitemap .f_sitemap_full {
    background:#5b5a68;
}
footer #f_legal_wrapper,
footer #f_sitemap {
    background:#f2f2f2;
}
footer.mk_footer #f_contact {
    display: none;
}
/*#main_img {*/
/*    display: none;*/
/*}*/
@media all and (min-width: 801px){
    .top-image-header {
        width: 70%;
    }
}
@media all and (max-width: 800px){
    .top-image-header {
        padding-top: 90px;
    }
}
.top-image-header {
    float: left;
}

.top-image-header img {
    max-width: 100%;
}
.box_inside h4 {
    font-weight: bold;
    line-height: 1.14;
}
.box_inside h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.09;
}
#content_wrapper .btn_action_go {
    border-radius: 3px;
    border-color: #e1e1e1;
}
.box_wrapper .box-video img{
    width: 100%;
}
.prescribe_block {
    min-height: 120px;
    background-color: #00a6e7;
    padding: 36px;
    overflow: hidden;
}
.prescribe_block .percent_block{
    width: 100px;
    margin: 0 auto;
    font-family: OpenSans;
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.27;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    height: 40px;
}
.prescribe_block .desc_block{
    position: relative;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.white_block_wrapper {
    overflow: hidden;
    background-color: #fff;
}
@media all and (min-width: 1025px){
    .prescribe_block .percent_block{
        position: absolute;
        left: -170px;
        top: 20px;
    }
    .prescribe_block .desc_block{
        width: 568px;
        margin: 0 auto;
    }
}
@media all and (max-width: 425px){
    .white_block_header {
        padding: 47px 45px 0 !important;
    }
    .white_block_wrapper .white_block {
        padding: 37px 45px 0 !important;
    }
    .white_block_wrapper {
        padding: 0 0 106px;
    }
}
@media all and (min-width: 769px){
    .white_block_wrapper {
        padding: 0 21px 79px;
    }
    .white_block_wrapper .white_block {
        width: 25%;
    }
}
@media all and (min-width: 426px) and (max-width: 768px){
    .white_block_wrapper .white_block {
        width: 50%;
    }
}
.white_block_wrapper .white_block{
    text-align: center;
    float: left;
    padding: 37px 8px 0;
}
.white_block_wrapper .white_block .title_1{
    font-weight: bold;
    line-height: 1.14;
}
.white_block_wrapper .white_block .title_2{
    font-size: 22px;
    font-weight: bold;
    line-height: 1.09;
}
.white_block_wrapper .white_block .img_wrap img{
    height: 100%;
}
.white_block_wrapper .white_block .img_wrap{
    height: 66px;
    padding-bottom: 18px;
    margin: 0 auto;
}
.white_block_wrapper .white_block .desc{
    padding-top: 4px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.white_block_header div{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: normal;
}
.white_block_header {
    background-color: #fff;
    padding-top: 38px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.55px;
    text-align: center;
    color: #000000;
}
.blue_circle {
    position: relative;
}
.blue_ellipse {
    width: 188px;
    height: 188px;
    background-color: #00a6e7;
    border-radius: 50%;
    padding: 36px;
    position: absolute;
    right: 56px;
    top: 17px;
}
.blue_ellipse .title{
    font-weight: bold;
}
.blue_ellipse .title,
.blue_ellipse .desc{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.box_wrapper.box_purple {
    background-color: #b497c4;
}